<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jobs Status</title>
</head>
<body>
  <form action="/jobs" method="post">
        <input type="text" name="jobID"   value="" />
        <button type="submit" > Submit </button>
  </form>

  <% if (typeof data != "undefined"){ %>
    <%= data.jobID %>
    <%= data.status %>
  <% } %>

</body>
</html>