<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Payments</title>
  <style>
        body p {
              color: black;
              border: 1px solid black;
              background-color: #eee;
              width: 1000px;
              display: inline-block;
        }
  
  </style>
</head>
<body>
  <h2 style="text-align: center; color: #002856;">Payments</h2>
  <div class="container" style="text-align: center;">


  </div>
</body>
<script>

const sseSource = new EventSource('/pay-stream');

sseSource.addEventListener('message', (e) => {
    const messageData = e.data;
    var div = document.querySelector('div.container');
    var html = "<p>" + "<code>" + messageData +  "</code>" + "</p>";
    div.innerHTML += (html) ;
   });

</script>
</html>
